<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
=======
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
>>>>>>> fix/logout

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
<<<<<<< HEAD
=======
  scroll-behavior: smooth;
>>>>>>> fix/logout
}

a {
  text-decoration: none;
}

header {
<<<<<<< HEAD
  padding: 10px;
  background-color: #fff;
  display: block;
=======
  background-color: #fff;
  padding: 10px;
  display: flex;
>>>>>>> fix/logout
  justify-content: space-between;
  align-items: center;
}

<<<<<<< HEAD
nav {
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-left: 3rem;
  margin-right: 3rem;
  width: 200px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 30px;
}

.navbar li {
  margin: 10px;
=======
.navbar li {
  margin-right: 40px;
>>>>>>> fix/logout
}

.navbar li a {
  color: #000;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.navbar li a:hover {
<<<<<<< HEAD
  background-color: #2F5150;
  color: #fff;
}

.sideLogo {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}

.sideLogo img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* content */
.konten{
=======
  background-color: #2f5150;
  color: #fff;
}

.navbar.sticky-top {
  top: 0;
  transition: top 0.3s;
}

.navbar.sticky-top.navbar-scrolled {
  top: 15px;
}

/* content */
.content{
>>>>>>> fix/logout
  text-align: center;
  width: 100%;
  margin: 0;
  display: block;
}

<<<<<<< HEAD
.notif{
  margin: auto;
  width: 80%;
  height: 30px;
  padding: 10px;
  background: #2F5150;
=======
.d-block {
  margin: auto;
  width: 80%;
  height: 45px;
  padding: 10px;
  background: #2F5150 !important;
>>>>>>> fix/logout
  border-radius: 20px;
  align-items: center;
}

<<<<<<< HEAD
.notif h2{
=======
.d-block h2{
>>>>>>> fix/logout
  margin: 0;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
}

<<<<<<< HEAD
.content{
  margin: auto;
  margin-top: 20px;
=======
.content_notif{
  margin: auto;
>>>>>>> fix/logout
  width: 70%;
  height: 100%;
  padding: 20px 30px;
  align-items: center;
<<<<<<< HEAD
=======
  box-sizing: border-box;
  display: block;
}

.content_notif img{
  object-fit: cover;
  width: 50%;
  height: auto;
>>>>>>> fix/logout
}

/*footer*/

footer {
  background-color: #2F5150;
  padding: 20px;
<<<<<<< HEAD
  margin-top: 10rem;
}

=======
  margin-top: 6rem;
  width: 100%;
  position: fixed;
  bottom: 0;
}
  
>>>>>>> fix/logout
.footer-box {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: -4rem;
  margin-left: 4rem;
}
<<<<<<< HEAD

.about-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
=======
  
.logo-footer img{
  margin-top: -5rem;
  margin-left: 4rem;
}
  
.about-box {
  display: flex;
  width: 100%;
  grid-template-columns: 500px 600px 500px;
  gap: 80px;
  color: #fff;
>>>>>>> fix/logout
}

.about-us {
  font-size: 20px;
  font-weight: 500;
<<<<<<< HEAD
  color: #fff;
  text-align: justify;
  margin-top: 4rem;
=======
  text-align: initial;
>>>>>>> fix/logout
}

.left-box,
.center-box,
.right-box {
  flex-basis: 33.33%;
<<<<<<< HEAD
  text-align: center;
}

.center-box h2 {
  color: #fff;
  margin-bottom: 2rem;
}

=======
}
  
>>>>>>> fix/logout
.list-link a {
  display: block;
  margin-bottom: 1rem;
  color: #fff;
}
<<<<<<< HEAD

#content {
  display: flex;
  flex-direction: column;
}

=======
.list-link{
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  gap: 20px;
}
  
.content {
  display: flex;
  flex-direction: column;
}
  
>>>>>>> fix/logout
.right-box {
  flex-basis: 33.33%;
  text-align: center;
}
<<<<<<< HEAD

=======
  
>>>>>>> fix/logout
.box-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
<<<<<<< HEAD

=======
  
>>>>>>> fix/logout
.box-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
<<<<<<< HEAD

.box-item .fas {
  margin-right: 10px;
}

.box-item .text {
  color: #fff;
  font-size: 16px;
}

.search-box,
.register-box {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 6px 10px;
}

.register-link {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}

.login-link {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 6px 10px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}

=======
  
.box-item .fas {
  margin-right: 10px;
}
  
.box-item .text {
  color: #fff;
  font-size: 16px;
}  
  
>>>>>>> fix/logout
.box-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
<<<<<<< HEAD

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 6px 10px;
}

.search-box .fas {
  color: #fff;
  margin-right: 10px;
}

.search-box input[type="text"] {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
}

.register-box {
  display: flex;
  align-items: center;
}

.register-box .text {
  color: #fff;
}

.register-link {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 6px 10px;
}

.register-link:hover {
  text-decoration: underline;
=======
  
.social-media-box{
  color: #fafaff;
}

.social-media a{
  color: #fafaff;
  font-size: 15px;
}

.social-media{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
>>>>>>> fix/logout
}

/* Responsive Styles */
/*
@media (max-width: 768px) {
  .logo img {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .navbar {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar li {
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .sideLogo img {
    width: 100px;
    height: 100px;
  }

  .footer-box {
    margin-left: 0;
  }

  .about-box {
    flex-direction: column;
  }

  .left-box,
  .center-box,
  .right-box {
    flex-basis: 100%;
    text-align: center;
  }

  .list-link a {
    margin-bottom: 0.5rem;
  }

  .content {
    align-items: center;
  }

  .search-box,
  .register-box {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .logo img {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar {
    justify-content: flex-start;
  }

  .navbar li {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .sideLogo img {
    width: 80px;
    height: 80px;
  }

  .about-us {
    font-size: 16px;
  }
}
<<<<<<< HEAD
*/
=======
*/

@media screen and (max-width: 1200px) {
  .footer-box {
    margin-left: 0;
  }
  
  .about-box {
    display: flex;
    flex-direction: column;
    gap:20px;
  }
  
  .left-box,
  .center-box,
  .right-box {
    flex-basis: 100%;
  }
  
  .list-link a {
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end;
  }
} 
>>>>>>> fix/logout
