<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/PPPickup.css">
        <title>Panduan Pengguna</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="Home.html" class="logo">
                  <img src="../assets/logotb.png" alt="" />
                </a>
        
                <ul class="navbar">
                  <li><a href="Home.html">Beranda</a></li>
                  <li><a href="../pages/transaksi.html">Transaksi</a></li>
                  <li><a href="../pages/chat.html">Chat</a></li>
                  <li><a href="../pages/kelolaAkun.html">Kelola Akun</a></li>
                </ul>
        
                <div class="sideLogo">
                  <a href="#">
                    <img src="../assets/icon-navbar.png" alt="" />
                  </a>
                </div>
              </nav>
        </header>
        <main>
          <h1>Panduan Pick Up</h1>
          <div class="isi">
            <ol type="1">
              <li>Menyiapkan sampah yang ingin dijual dalam wadah kemasan supaya memudahkan proses pengambilan</li>
              <li>Klik layanan “Pick-Up” dan pilihlah jenis sampah yang akan dijual</li>
              <li>Mengatur berat sampah yang akan dijual</li>
              <li>Unggah foto sampah sebanyak minimal dua kali</li>
              <li>Tentukan alamat, tanggal, dan waktu penjemputan sampah</li>
              <li>Pantau proses penjemputan sekaligus dapat berkomunikasi dengan customer service</li>
            </ol>
          </div>
          <div class="next">
            <a href="panduanRegis.html" id="kiri"><img src="../assets/previous.png" width="3%">  Panduan Registrasi Pengguna</a>
            <a href="PPJenisHarga.html" id="kanan">Panduan Jenis dan Harga  <img src="../assets/next.png" width="9%"></a>
          </div>
        </main>
        
        <footer>
            <div class="footer-box">
                <div class="logo-footer">
                  <img src="./assets/logo.png" alt="" />
                </div>
                <div class="about-box">
                  <div class="left-box">
                    <div class="about-us">
                      <p class="about-desc">
                        TrashBack merupakan aplikasi sederhana yang digunakan untuk proses menukar sampah menjadi bahan pokok atau sebagainya.
                      </p>
                    </div>
                  </div>
            
                  <div class="center-box">
                    <h2>Link Terkait</h2>
                    <div class="list-link">
                      <a href="#"><i class="fas fa-link"></i> Beranda</a><br />
                      <a href="#"><i class="fas fa-link"></i> Transaksi</a><br />
                      <a href="#"><i class="fas fa-link"></i> Chat</a><br />
                      <a href="#"><i class="fas fa-link"></i> Kelola Akun</a><br />
                    </div>
                  </div>
            
                <div class="right-box">
                  <div class="content">
                    <div class="box-row">
                      <div class="search-box box-item">
                        <span class="fas fa-search"></span>
                        <input type="text" placeholder="Cari..." />
                      </div>
                    </div>
                    <div class="register-box box-item">
                      <span class="text">Belum punya akun? </span>
                      <a href="./pages/Login.html" class="register-link">Daftar sekarang</a>
                    </div>
                    <div class="register-box box-item">
                      <span class="text">Sudah punya akun? </span>
                      <a href="./pages/Login.html" class="register-link">Login disini</a>
                    </div>
                  </div>
                </div>
                </div>
              </div> 
        </footer>
    </body>
</html>
