<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="../../Components/Account/KelolaAkun.css">

        <title>TrashCasback</title>

        <style>
            #alamat-form {
            display: none;
            }
        </style>
    </head>
<body>
    <!--NAVIGATION BAR -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
          <a class="navbar-brand" href="../../../Public/index.html">
            <img src="../assets/logotb.png"  alt="Bootstrap" width="50%" height="auto">
          </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../Home.html">Beranda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Transaksi.html">Transaksi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Chat.html">Chat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="kelolaAkun.html">Kelola Akun</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <button class="account-button">Akun Saya</button>
    
    <div class="box-container">
        <!--div  -->
        <div class="box">
          <img class="img-akun" src="../assets/img-akun.png" alt="">
          <div class="welcome-text">
            <p>Selamat Datang di TrashCasback</p>
            <p class="name-text"> Nama Akun</p>
          </div>
        </div>
        <!--div 1 -->
        <div class="box">
            <div class="box-content">
                <img class="img-tc-points" src="../assets/tc-poin.png" alt="">
                <p class="tc-points-text">TC Points</p>
                <p class="points-text">0 Point</p>
            </div>
            <div class="box-content">
                <img class="img-shopee" src="../assets/shoppe.png" alt="">
                <p class="shopeepay-text">ShopeePay</p>
                <p class="activate-text1">Aktifkan</p>
            </div>
            <div class="box-content">
                <img class="img-gopay" src="../assets/gopay.png" alt="">
                <p class="gopay-text">Gopay</p>
                <p class="activate-text2">Aktifkan</p>
            </div>
            <div class="box-content">
                <img class="img-ovo-cash" src="../assets/ovo.png" alt="">
                <p class="ovo-cash-text">Ovo Cash</p>
                <p class="activate-text3">Aktifkan</p>
            </div>
        </div>

        <!--div 2 -->
        <div class="box">
            <div class="box-content">
                <img class="img-member-silver" src="../assets/member-silver.png" alt="">
                <p class="member-silver-text">Member Silver</p>
            </div>
            <div class="box-content">
                <p class="toko-member-text">Toko Member</p>
                <p class="toko-member-count">0</p>
            </div>
            <div class="box-content">
                <p class="misi-seru-text">Misi Seru</p>
                <p class="misi-seru-count">0</p>
            </div>
            <div class="box-content">
                <p class="kutipan-saya-text">Kutipan Saya</p>
                <p class="kutipan-saya-count">0</p>
            </div>
        </div>
        
        <!--div 3 -->
        <div class="box">
            <p id="biodata-text" class="biodata-text">Biodata Diri</p>
            <div id="biodata-form" class="box-content">
                <form>
                    <label for="name">Nama:</label>
                    <input type="text" id="name" name="name" placeholder="Masukkan nama">
                    
                    <label for="gender">Jenis Kelamin:</label>
                    <select id="gender" name="gender">
                        <!-- Tambahkan opsi jenis kelamin di sini -->
                        <option value="" disabled selected>Pilih Jenis Kelamin</option>
                        <option value="perempuan">Perempuan</option>
                        <option value="laki-laki">Laki-laki</option>
                    </select>
                    
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Masukkan email">
                    
                    <label for="password">Kata Sandi:</label>
                    <input type="text" id="password" name="password" placeholder="Masukkan Kata Sandi">
                    
                    <label for="phone">Telepon:</label>
                    <input type="tel" id="phone" name="phone" placeholder="Masukkan nomor telepon">
                    
                    <button class="save-button" type="submit">Simpan</button>
                </form>
            </div>
        </div>

        <!--div 4 -->
        <div class="box">
            <p id="alamat-text" class="alamat-text">Alamat</p>
            <div id="alamat-form" class="box-content">
                <form>
                    <label for="address">Alamat:</label>
                    <input type="text" id="address" name="address" placeholder="Alamat">
                    
                    <label for="province">Provinsi:</label>
                    <select id="province" name="province">
                        <option value="" disabled selected>Pilih Provinsi</option>
                        <!-- Tambahkan opsi provinsi di sini -->
                    </select>
                    
                    <label for="city">Kota:</label>
                    <select id="city" name="city">
                        <option value="" disabled selected>Pilih Kota</option>
                        <!-- Tambahkan opsi kota di sini -->
                    </select>
                    
                    <label for="subdistrict">Kecamatan:</label>
                    <select id="subdistrict" name="subdistrict">
                        <option value="" disabled selected>Pilih Kecamatan</option>
                        <!-- Tambahkan opsi kecamatan di sini -->
                    </select>
                    
                    <label for="postalCode">Kode Pos:</label>
                    <input type="text" id="postalCode" name="postalCode" placeholder="Kode Pos">
                    
                    <button class="save-button" type="submit">Simpan</button>
                </form>
            </div>
        </div>

        <footer>
            <div class="footer-box">
              <div class="logo-footer">
                <img src="../assets/logo.png" alt="" />
              </div>
              <div class="about-box">
                <div class="left-box">
                  <div class="about-us">
                    <p class="about-desc">
                      TrashBack merupakan aplikasi sederhana yang digunakan untuk proses menukar sampah menjadi bahan pokok atau sebagainya.
                    </p>
                  </div>
                </div>
          
                <div class="center-box">
                  <h2>Link Terkait</h2>
                  <div class="list-link">
                    <a href="home.html"><i class="fas fa-link"></i> Beranda</a><br />
                    <a href="transaksi.html"><i class="fas fa-link"></i> Transaksi</a><br />
                    <a href="chat.html"><i class="fas fa-link"></i> Chat</a><br />
                    <a href="kelolaAkun.html"><i class="fas fa-link"></i> Kelola Akun</a><br />
                  </div>
                </div>
          
              <div class="right-box">
                <div class="content">
                  <div class="box-row">
                    <div class="search-box box-item">
                      <span class="fas fa-search"></span>
                      <input type="text" placeholder="Cari..." />
                    </div>
                  </div>
                  <div class="register-box box-item">
                    <span class="text">Belum punya akun? </span>
                    <a href="#" class="register-link">Daftar sekarang</a>
                  </div>
                  <div class="register-box box-item">
                    <span class="text">Sudah punya akun? </span>
                    <a href="#" class="register-link">Login disini</a>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </footer>    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../scripts/manageAccount.js"></script>
    
</body>
</html>
