body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Poppins", sans-serif;
}
  
header {
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
  
.logo {
    display: flex;
    align-items: center;
}
  
.logo img {
    margin-left: 3rem;
    margin-right: 14rem;
    width: 200px;
}
  
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 30px;
}
  
.navbar li {
    margin-right: 40px;
}
  
.navbar li a {
    color: #000;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
  
.navbar li a:hover {
    background-color: #2F5150;
    color: #fff;
}
  
.sideLogo {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
}
  
.sideLogo img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
  
  .account-button {
    margin-top: 10px;
    padding: 8px 20px;
    background-color: #2f5150;
    color: white;
    border-radius: 15px;
    font-size: 15px; 
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 40px;
  }
  
  .box-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 10px;
  }
  
  .box {
    border: 2px solid gray;
    border-radius: 4px;
    padding: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 345px;
    height: 95px;
  }
  
  .box:nth-child(2) {
    width: 345px;
    height: 160px;
    margin: top 10px;
  }
  .box:nth-child(3) {
    margin-left: 15px; 
    width: 345px;
    height: 110px;
    margin: top 10px;
  }
  
  .box img {
    width: 100%;
    height: auto;
  }
  .box:nth-child(1) img {
    width: 100%;
    max-width: 160px;
    margin-right: 10px;
    margin-left: -25px; 
    height: auto;
    margin-top: -15px;
  }

  .box:nth-child(2) img {
    width: 100%;
    max-width: 30px; 
    height: auto;
    margin-top: -15px;
  }
  .box:nth-child(3) img {
    width: 100%;
    max-width: 70px;
    margin-left: -18px;  
    height: auto;
    margin-top: -10px;
  }
  
  .box .welcome-text {
    text-align: left;
    position: relative;
    margin-left: 120px;
    top: -80%; 
    transform: translateY(-80%); 
  }
  .box .welcome-text p {
    font-size: 14px; 
    font-weight: bold;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
  }
  
.box .box-content {
    margin-left: 25px;
    display: flex;
    align-items: center;
}
.box-content .tc-points-text {
    margin-left: 30px;
    color: black;
    font-weight: bold;
    margin-top: 5px;
}

.box-content .points-text {
    margin-left: 80px;
    color: black;
    margin-top: 5px;
}
.shopeepay-text {
    color: black;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 30px; 
  }
.box .box-content .activate-text1 {
  margin-left: 70px;
  color: #61cc6b;
  margin-top: 5px; 
}
.box-content .gopay-text {
    margin-left: 30px;
    color: black;
    margin-top: 5px;
    font-weight: bold;
}
.box .box-content .activate-text2 {
    margin-left: 105px; 
    color: #61cc6b;
    margin-top: 5px;
  }
  .box-content .ovo-cash-text {
    margin-left: 30px;
    color: black;
    margin-top: 5px;
    font-weight: bold;
}
  .box .box-content .activate-text3 {
    margin-left: 80px; 
    color: #61cc6b;
    margin-top: 5px;
  }
  .box-content:not(:first-child) {
    margin-top: 5px;
}
/* Klasifikasi Member Silver */
.box-content .member-silver-text {
    margin-left: 5px;
    margin-top: 5px;
    color: black;
    font-weight: bold;
}

.box-content .toko-member-text,
.box-content .kutipan-saya-text {
    color: black;
    margin-top: -20px;
    margin-left: 55px;
}
.box-content .misi-seru-text{
    color: black;
    margin-top: -20px;
    margin-left: 55px;
}
.box-content .toko-member-count,
.box-content .kutipan-saya-count {
    margin-left: 111px;
    color: black;
    margin-top: -10px;
}
.box-content .misi-seru-count{
    margin-left: 136px;
    color: black;
    margin-top: -10px;
}

/* Ubah Biodata */
.biodata-text {
  color: black;
  margin-top: 5px;
}

.biodata-text:hover {
  color: white;
    border-radius: 5px;
    font-weight: bold;
    width: 90px;
    background-color:#2f5150;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.alamat-text {
  color: black;
  margin-top: 5px;
  margin-left: 120px; 
  margin-top: -42px;
}

.alamat-text:hover {
  color: white;
  border-radius: 5px;
  font-weight: bold;
  width: 60px;
  background-color:#2f5150;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.box:nth-child(4) {
  margin-left: 450px; 
  border-radius: 4px;
  padding: 10px;
  margin-top: -420px;
  width: 780px;
  height: 25px;
  margin: top 10px;
}
.box:nth-child(5) {
  margin-left: 450px; 
  border-radius: 4px;
  padding: 10px;
  margin-top: -12px;
  width: 780px;
  height: 337px;
}

.box-content p {
  font-size: 14px;
}

.box-content .activate-text1,
.box-content .activate-text2,
.box-content .activate-text3 {
  color:#2f5150;
  font-weight: bold;
  font-size: 12px;
}

.box-content form {
  font-size: 12px;
  margin-top: 25px;
  margin-left: -5px;
  width: 500px;
}

.box-content input,
.box-content select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 3px;
  font-size: 12px;
}

.box-content input[type="text"],
.box-content input[type="email"],
.box-content input[type="password"],
.box-content input[type="tel"] {
  margin-top: 5px;
  height: 20px;
}

.box-content select {
  height: 28px;
  margin-top: 5px;
}

.box-content .save-button {
  margin-top: -5px;
  margin-left: 580px;
  padding: 8px 20px;
  background-color: #2f5150;
  color: white;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 150px;
}

footer {
  background-color: #2F5150;
  padding: 20px;
  margin-top: 10rem;
}

.footer-box {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: -4rem;
  margin-left: 4rem;
}

.about-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.about-us {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-align: justify;
  margin-top: 4rem;
}

.left-box,
.center-box,
.right-box {
  flex-basis: 33.33%;
  text-align: center;
}

.center-box h2 {
  color: #fff;
  margin-bottom: 2rem;
}

.list-link a {
  display: block;
  margin-bottom: 1rem;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
}

.right-box {
  flex-basis: 33.33%;
  text-align: center;
}

.box-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.box-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.box-item .fas {
  margin-right: 10px;
}

.box-item .text {
  color: #fff;
  font-size: 16px;
}

.search-box,
.register-box {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 6px 10px;
}

.register-link {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}

.login-link {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 6px 10px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}

.box-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 6px 10px;
}

.search-box .fas {
  color: #fff;
  margin-right: 10px;
}

.search-box input[type="text"] {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
}

.register-box {
  display: flex;
  align-items: center;
}

.register-box .text {
  color: #fff;
}

.register-link {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 6px 10px;
}

.register-link:hover {
  text-decoration: underline;
}