body{
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #fff;
    z-index: 99;
 }
  
#loadingimage{
    position: absolute;
    bottom: 500px;
    right: 0;
    top: 0;    
    z-index: 100;
    width: 200px;
}

#loadingimg{
    position: absolute;
    top: 700x;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 200px;
}

#logo{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    max-width: 100%;
    height: auto;
}

.fakeLoader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 9999999999; 
}
  
.spinner1 {
    position: fixed;
    width: 50px;
    height: 50px;
    top: calc(50% - 50px/2);
    left: calc(50% - 50px/2); 
}
.spinner1 .double-bounce1,
.spinner1 .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #16a637;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
        animation: bounce 2.0s infinite ease-in-out; }
.spinner1 .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s; 
}
  
@-webkit-keyframes bounce {
    0%, 100% {
      transform: scale(0);
      -webkit-transform: scale(0); }
    50% {
      transform: scale(1);
      -webkit-transform: scale(1); } 
}
  
@keyframes bounce {
    0%, 100% {
      transform: scale(0);
      -webkit-transform: scale(0); }
    50% {
      transform: scale(1);
      -webkit-transform: scale(1); } 
}
  
.spinner2 {
    position: fixed;
    width: 40px;
    height: 40px;
    top: calc(50% - 40px/2);
    left: calc(50% - 40px/2); 
}
.spinner2 .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%; 
}
.spinner2 .spinner-container.container2 {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg); 
}
.spinner2 .spinner-container.container3 {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg); 
}
.spinner2 .spinner-container .circle1 {
    top: 0;
    left: 0; }
.spinner2 .spinner-container .circle2 {
    top: 0;
    right: 0; }
.spinner2 .spinner-container .circle3 {
    right: 0;
    bottom: 0; }
.spinner2 .spinner-container .circle4 {
    left: 0;
    bottom: 0; }
.spinner2 .container1 div,
.spinner2 .container2 div,
.spinner2 .container3 div {
    width: 6px;
    height: 6px;
    background-color: #2f5150;
    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
            animation: bouncedelay 1.2s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; 
}
.spinner2 .container1 .circle2 {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
.spinner2 .container1 .circle3 {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; }
.spinner2 .container1 .circle4 {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s; }
.spinner2 .container2 .circle1 {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
.spinner2 .container2 .circle2 {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
.spinner2 .container2 .circle3 {
      -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; }
.spinner2 .container2 .circle4 {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s; }
.spinner2 .container3 .circle1 {
    -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s; }
.spinner2 .container3 .circle2 {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; }
.spinner2 .container3 .circle3 {
      -webkit-animation-delay: -0.4s;
              animation-delay: -0.4s; }
.spinner2 .container3 .circle4 {
      -webkit-animation-delay: -0.1s;
              animation-delay: -0.1s; }
  
@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
      transform: scale(0);
      -webkit-transform: scale(0); }
    40% {
      transform: scale(1);
      -webkit-transform: scale(1); } 
}
  
@keyframes bouncedelay {
    0%, 80%, 100% {
      transform: scale(0);
      -webkit-transform: scale(0); }
    40% {
      transform: scale(1);
      -webkit-transform: scale(1); } 
}